

<section class="first-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h2>missing, the beautiful world</h2>
          <div class="line-dec"></div>
          <span>witness the life</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="third-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="left-image col-md-4">
          <img src="../../assets/img/left-image.png" alt="">
        </div>
        <div class="right-text col-md-8">
          <!--Content-->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="fivth-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="left-text col-md-8">
          <!--Content-->
        </div>
        <div class="right-image col-md-4">

        </div>
      </div>
    </div>
  </div>
</section>

