

<section class="first-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h2>Doing, Working makes life perfect</h2>
          <div class="line-dec"></div>
          <span>Practice makes perfects</span>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="third-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="left-image col-md-4">
          <img src="../../assets/img/left-image.png" alt="">
        </div>
        <div class="right-text col-md-8">
          <h4><em>Company</em> Detail</h4>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="fivth-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="left-text col-md-8">
          <h4><em>Business</em> Detail</h4>
          <p></p>
        </div>
        <div class="right-image col-md-4">
          <img src="../../assets/img/right-image.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sixth-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">

        <!-- FORM HERE -->
        <form id="contact" action="" method="post">
          <div class="col-md-6">
            <fieldset>
              <input name="name" type="text" class="form-control1" id="name" placeholder="Your name..." required="">
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset>
              <input name="email" type="email" class="form-control1" id="email" placeholder="Your email..." required="">
            </fieldset>
          </div>
          <div class="col-md-12">
            <fieldset>
              <textarea name="message" rows="6" class="form-control1" id="message" placeholder="Your message..." required=""></textarea>
            </fieldset>
          </div>
          <div class="col-md-12">
            <fieldset>
              <button type="submit" id="form-submit" class="btn">Send Message</button>
            </fieldset>
          </div>
        </form>
      </div>
    </div>

    </div>
  </div>
</section>

